body{
    background: black;
}

.home-main-title, .detail-main-title{
    color: yellowgreen;
    /* color: brown; */
    
}

a{
    color: orange;
}
button{
    width: 240px;
    height: 50px;
    border-radius:50px;
    color:yellow;
    background-color: brown;
}